@import 'custom';

.login_box {
    @include center-all;
    @include box;
}

.login-img {
    width: 80%;
    margin-top: 20%;
    margin-right: 40%;
    @include center-all;
}

.queue_box {
    text-align: center;
    border: 2px solid $blueLight !important;
    @include box;
}

.queue_box_ready {
    text-align: center;
    border: 2px solid $blueLight !important;
    background-color: $blueOne;
    color: $white;
    @include box;
}

.overlap_box_doctor {
    background-color: $blueOne;
    @include overlap_box;
}

.overlap_box_pharmacy {
    background-color: $blueTwo;
    @include overlap_box;
}

.overlap_box_ready {
    background-color: $blueLight;
    @include overlap_box;
}

.logo {
    width: 250px;
}

.ready_text {
    line-height: 90px !important;
    display: block;
    margin-top: 10%;
    font-size: 25px;
}

.pass-wrapper {
    position: relative;

  }

  .show_password {
      color: $blueOne;
      position: absolute;
      top: 55%;
      right: 6%;
  }

  .show_password:hover {
    color: $blueTwo;
    cursor: pointer;
  }

